<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <!-- xyz="1.72663 1.52545 1.51146" rpy="1.85999 -0.689199 -2.89926" -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="1.72663 1.52545 1.51146   0.291676 0.724549 -0.591297 -0.200804 torso camera_color_optical_frame" />
</launch>
