[submodule "iiwa_stack"]
	path = iiwa_stack
	url = git@github.com:IFL-CAMP/iiwa_stack.git
[submodule "flir_ptu"]
	path = flir_ptu
	url = git@github.com:ros-drivers/flir_ptu.git
[submodule "serial"]
	path = serial
	url = https://github.com/wjwwood/serial
[submodule "schunk_modular_robotics"]
	path = schunk_modular_robotics
	url = https://github.com/ipa320/schunk_modular_robotics.git
[submodule "schunk_robots"]
	path = schunk_robots
	url = git@github.com:ipa320/schunk_robots.git
[submodule "SchunkHandBringupPackage"]
	path = SchunkHandBringupPackage
	url = git@github.com:h2r/SchunkHandBringupPackage.git
[submodule "motor_skills"]
	path = motor_skills
	url = git@github.com:babbatem/motor_skills.git
