<?xml version="1.0"?>

<!-- Here we define the robot, we named it "humanoid" -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="humanoid">

  <!-- Import Rviz colors -->
  <xacro:include filename="$(find iiwa_description)/urdf/materials.xacro" />
  <!--Import the iiwa7 macro -->
  <xacro:include filename="$(find iiwa_description)/urdf/iiwa7.xacro"/>
  <!--  Arguments for the iiwa7 macro  -->
  <xacro:arg name="hardware_interface" default="PositionJointInterface"/>

  <link name="world">
    <origin xyz ="0.0 0.0 0.0" rpy="0 0 0"/>
  </link>
  <gazebo reference="world">
    <static>true</static>
  </gazebo>
 
 <joint name="world_to_torso" type="fixed">
    <parent link="world"/>
    <child link="torso"/>
    <origin xyz ="0.0 0.0 0.0" rpy="0 0 0"/>
  </joint>

  <link name="torso">
    <visual>
      <origin rpy="1.57 0  1.57" xyz="0.85 -.44 1.4"/>
      <geometry>
         <mesh filename="package://humanoid_description/urdf/torso.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
     <collision>
      <origin rpy="1.57 0  1.57" xyz="0.85 -.42 1.4"/>
      <geometry>
         <mesh filename="package://humanoid_description/urdf/torso.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

   <!-- Here we insert the (left) iiwa7 robot in the scene-->
  <xacro:iiwa7 hardware_interface="$(arg hardware_interface)" robot_name="iiwa_left" parent="world">
    <origin xyz="0.15 0.33 1.35" rpy="0 1.57 0"/>
  </xacro:iiwa7>

  <!-- Here we insert the (right) iiwa7 robot in the scene-->
  <xacro:iiwa7 hardware_interface="$(arg hardware_interface)" robot_name="iiwa_right" parent="world">
    <origin xyz="0.15 -0.33 1.35" rpy="0 1.57 0"/>
  </xacro:iiwa7>
</robot> 