<?xml version="1.0"?>
<launch>
    <!-- <arg name="hand_ip" default="138.16.161.44" /> -->
    <arg name="rviz_moveit" default="false" />

    <!-- define humanoid1 -->
    <machine name="h1" address="humanoid1" default="false" env-loader="/opt/ros/melodic/humanoid_env.bash"/>

    <!-- upload description -->
    <include file="$(find humanoid_description)/launch/humanoid_description.launch"/>

    <!-- Converts joint states to TF transforms for rviz, etc -->
    <!-- Launch one node for each arm -->
    <group ns="iiwa_left">
      <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
        <param name="use_tf_static" value="false"/>
        <remap from="joint_states" to="/iiwa_left/joint_states" />
      </node>
    </group>
    
    <group ns="iiwa_right">
      <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
        <param name="use_tf_static" value="false"/>
        <remap from="joint_states" to="/iiwa_right/joint_states" />
      </node>
    </group>

    <param name="/iiwa_right/toolName" type="string" value="SchunkRight"/>

    <!-- TODO: schunk packages here -->

    <!-- launch flir_ptu_driver, tf publisher on humanoid1-->
    <node machine="h1" name="ptu_driver" pkg="flir_ptu_driver" type="ptu_node" ns="ptu" respawn="true">
	    <param name="port" value="/dev/ttyUSB0" />
      <param name="limits_enabled" value="false" />
      <remap from="state" to="/ptu/joint_states" />
    </node>
    <node machine="h1" name="robot_state_publisher_ptu" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen" ns="ptu">
      <param name="use_tf_static" value="true"/>
      <remap from="joint_states" to="/ptu/joint_states" />
    </node>

    <!-- launch structure core. -->
    <!-- note: this launches nodes on h1 EXCEPT the pointcloud node, which is run on the default machine (h0) -->
    <include file="$(find humanoid_bringup)/launch/humanoid_structure_core.launch">
      <arg name="machine" value="h1"/>
      <arg name="depth_pcloud_enable" value="true"/>
    </include>

    <!-- rviz bringup -->
    <!-- <include file="$(find iiwa_robotiq_moveit_config)/launch/moveit_planning_execution.launch">
      <arg name="sim" value="false"/>
      <arg name="rviz" value="$(arg rviz_moveit)"/>
    </include>     -->


    <!-- publish combined joint states-->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
        <rosparam param="/source_list">[/iiwa_right/joint_states,/iiwa_left/joint_states,/ptu/joint_states]</rosparam>
    </node>

</launch>
