<?xml version="1.0"?>
<launch>
    <!-- <arg name="hand_ip" default="138.16.161.44" /> -->
    <arg name="rviz_moveit" default="false" />
    
    <!-- Converts joint states to TF transforms for rviz, etc -->
    <!-- Launch one node for each arm -->
    <node name="robot_state_publisher_left" pkg="robot_state_publisher" type="robot_state_publisher"
          respawn="false" output="screen">
          <param name="use_tf_static" value="true"/>
        <remap from="joint_states" to="/iiwa_left/joint_states" />
    </node>
    <node name="robot_state_publisher_right" pkg="robot_state_publisher" type="robot_state_publisher"
          respawn="false" output="screen">
          <param name="use_tf_static" value="true"/>
        <remap from="joint_states" to="/iiwa_right/joint_states" />
    </node>

    <!-- TODO: schunk packages here -->
    
    <!-- rviz bringup -->
    <!-- <include file="$(find iiwa_robotiq_moveit_config)/launch/moveit_planning_execution.launch">
      <arg name="sim" value="false"/>
      <arg name="rviz" value="$(arg rviz_moveit)"/>
    </include>     -->
</launch>